---

	import MainLayout from "@/layouts/main-layout.astro"
	import Presentation from "@/components/screens/presentation.astro"
import DefaultSectionLayout from "@/layouts/default-section-layout.astro";
import { ROUTES } from "src/utils/const";
import { HistoryList } from "@/components/history-list";
import { css } from "styled-system/css";

---

<MainLayout>
	<Presentation />
	<DefaultSectionLayout id={ROUTES.EXPERENCE.id} className={css.raw({
		flexDirection: "column"
	})}>
	My Experence
	<HistoryList client:only >
		<div></div>
	</HistoryList>
	</DefaultSectionLayout>
	<DefaultSectionLayout id={ROUTES.ABOUT.id}>
		About me
	</DefaultSectionLayout>
	<DefaultSectionLayout id={ROUTES.CONTACT.id}>
		Contact me
	</DefaultSectionLayout>
</MainLayout> 


<style>


</style>