---
import { css } from "styled-system/css";


const FOOTER_CONTAINER = css({
  width: "100%",
  boxSizing: "border-box",
  padding: "16px 32px",
  background: "green",
  display: "flex",
  justifyContent: "space-between",
  _light: {
    
  }
})

const OPTIONS_CONTAINER = css({

})

const OPTION = css({

})
---

<footer  class={FOOTER_CONTAINER}>
  <div>Habib Rejon</div>


  <nav class={OPTIONS_CONTAINER}>
    <a class={OPTION}href="/#presentation">Presentation</a>
    <a href="/#presentation">Contactame</a>
  </nav>

</footer>

