---
import {TypedWords} from "@/components/typed-words"
import { css } from "styled-system/css";




const PRESENTATION_CONTAINER = css({
    display: "flex",
    background: "red",
    boxSizing: "border-box",
    justifyContent: "center"
})
---

<article id="presentation" class={PRESENTATION_CONTAINER}>
    <p>
        Hola soy habib
        <TypedWords client:load  words={["Tv", "Web", "Movil"]} />
    </p>
    <img src="" alt="">
</article>


<style>
  
</style>