---
import Footer from "@/components/footer.astro";
import NavBar from "@/components/nav-bar.astro";
// Supports weights 100-900
import "@fontsource-variable/montserrat";
import "@fontsource/poppins";
import { css } from "styled-system/css";

const BODY_CONTAINER = css({
  bg: "bg_color",
  color: "text_color",
  display: "flex",
  alignItems: "center",
  flexDir: "column"
})


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Habib Portfolio</title>
  </head>
  <body data-color-mode="light" class={BODY_CONTAINER}>
    <NavBar />
    <main class={css({
      maxWidth: "1500px",
      width: "100%"
    })}>
      <slot />
    </main>
    <Footer />
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
     

      // Manejar el cambio de fragmento de URL al cargar la página
      window.addEventListener('hashchange', function() {
        const targetId = window.location.hash.split("#")[1]
        const targetElement = document.getElementById(targetId);

        if(!targetElement)
          return

        targetElement.classList.toggle("hide")

        // Mostrar la sección correspondiente
        setTimeout(() => {
          targetElement.classList.remove('hide');
        }, 100);
      });
    });
  </script>
</html>

<style is:global>
  body {
    font-family: "Montserrat Variable", sans-serif;
  }

    /* Estilos comunes */
    .section {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }

    /* Transición al cambiar la opacidad */
    .hide {
      opacity: 0;
    }

</style>


